* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100;
}

#sidebar .list-group-item {
    border: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color: var(--bs-dark-rgb);
    color: white;
}

#sidebar .list-group-item:hover {
    background-color: var(--bs-secondary);
    color: white;
    cursor: pointer;
}

#sidebar .list-group-item.active {
    background-color: #0d6efd;
    color: white;
}

#sidebar a {
    text-decoration: none;
}